.hero__wrapper {
  position: relative;
}

.hero {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  clip-path: polygon(15% 3%, 85% 3%, 85% 100%, 15% 100%);
  z-index: 1;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.video-wrapper {
  position: relative;
  padding-top: 50%;
}

.video-wrapper .hero__video {
  clip-path: inset(35% round 3rem);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hero__title {
  font: 700 12rem/1 'AvantGarde', sans-serif;
  opacity: 0;
  
  .hero-color-text {
    color: #ec4e39 !important;
  }
}

.hero__description {
  font-size: 2rem;
  margin-top: -1rem;
  opacity: 0.75;
}

.hero__gallery {
  position: relative;
  padding-top: 56.25%;
}
