.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.flex-col {
    display: block;
    width: 100%;
    order: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.skills .row .flex-col {
    border-top: 1px solid $color-stone;
}

.skills .skills-ul .single-service {
    display: block;
    border-bottom: 1px solid $color-stone;
    padding: 2em 3em 2em 0;
}

.single-service h3 {
    color: #444;
    margin:0;
	padding:0;
    line-height: 0.5;
    perspective:600px;
}

.single-service h3:nth-child(2) {
    color:#efefef;
}

.skills .skills-ul {
    cursor: default;
}

.mouse-pos-list-image {
    width: 25vw;
    height: 0vw;
    z-index: 901;
    position: fixed;
    pointer-events: none;
    transform: translate(calc(-50% + 52.5vw), -50%);
    display: block;
    left: 0;
    overflow: hidden;
    will-change: transform, height;
    transition: height .6s cubic-bezier(.7, 0, .3, 1), width .6s cubic-bezier(.7, 0, .3, 1);
    background: $color-black;
}

.mouse-pos-list-image.active {
    height: 25vw;
    width: 25vw;
    transition: height .6s cubic-bezier(.7, 0, .3, 1), width .6s cubic-bezier(.7, 0, .3, 1);
}

.mouse-pos-list-image-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 102%;
    width: 102%;
    left: -1%;

}

.mouse-pos-list-image .mouse-pos-list-image-inner .overlay-image {
    opacity: 0;
}

.mouse-pos-list-image .mouse-pos-list-image-inner.active .overlay-image {
    opacity: 1;
}

@media screen and (max-width: 1024px) {

    .mouse-pos-list-image {
        opacity: 0;
        visibility: hidden;
    }

    .mouse-pos-list-image li {
        display: none;
    }
}