.sec-nav {
    font-family: "Poppins", sans-serif;
    z-index: 99;
    position: fixed;
    padding: 0;
    width: 100%;
}

.container-wrapper {
    z-index: 2;
    width: 100%;
    padding: 0 var(--x-spacing);
    position: relative;
}

.txt-medium {
    font-weight: 600;
}

.menu-wrapper {
    width: 100%;
    align-items: center;
    padding: 3rem 0;
    display: flex;
}

.menu-items-wrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
    font-size: 1.5rem;
    position: relative;
}

.header-btn {
    display: none;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    text-align: right;
}

@media (max-width: 767px) {
    .header-btn {
        display: flex;
    }
}

.header-btn .state>div {
    width: 100%;
    transition: transform .3s ease-in;
    transform: translateY(100%);
}

.header-btn .state>div:first-child {
    position: absolute;
    bottom: 100%;
    left: 0;
}

.header-btn .state>div:last-child {
    color: #d72323;
}

.header-btn .state {
    position: relative;
    overflow: hidden;
}

.header-btn.open .state>div {
    transform: translateY(0);
}

.header-btn.open+.menu-item-wrapper {
    opacity: 1;
    pointer-events: auto;
}

.header-btn.open+.menu-item-wrapper .item {
    opacity: 1;
    pointer-events: initial;
}

.menu-item-wrapper .item {
    opacity: 1;
    transition: opacity .2s linear;
}

@media (max-width: 767px) {
    .menu-item-wrapper .item {
        opacity: 0;
        pointer-events: none;
    }
}

.menu-item-wrapper .item:nth-child(1) {
    transition-delay: .3s;
}

.menu-item-wrapper .item:nth-child(2) {
    transition-delay: .2s;
}

.menu-item-wrapper .item:nth-child(3) {
    transition-delay: .1s;
}

.menu-item-wrapper .item:nth-child(4) {
    transition-delay: 0s;
}

.logo {
    color: $color-stone;
}

.menu-item-wrapper {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    display: flex;
}

@media (max-width: 767px) {
    .menu-item-wrapper {
        display: grid;
        position: absolute;
        right: 0;
        top: calc(100% + 2vw);
        text-align: right;
        grid-row-gap: .5em;
    }
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.menu-link {
    color: $color-stone;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.item {
    position: relative;
    overflow: hidden;
}

.item:hover > * {
    transform: translateY(-100%);
}

.menu-link:after {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

.menu-link:hover {
    transform: translateY(-100%);
}

.txt-logo {
    font-family: 'Satoshi', sans-serif;
    color: #f2ede4;
}