.section {
    padding: 12vw var(--x-spacing);
    overflow: hidden;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.home__projects > .headline {
    position: relative;
    height: 300vh;

    .headline-wrap {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;

        .headline-content {
            display: flex;
            width: 100%;
            justify-content: center;
            position: relative;
        }

        h5 {
            position: absolute;
            font-family: 'Thunder', sans-serif;
            font-size: 5rem;
            text-align: center;
            font-weight: 500;
            line-height: 1.1em;
            max-width: 120rem;
            perspective: 900px;
        }
    }

    .headline-char {
        transform: translate3d(0px, -10px, 25px) rotateX(10deg);
        opacity: 0;
    }
}

.home__projects {
    margin-top: -70vh;
    background-color: $color-black-light;
}

.projects {
    position: relative;
    height: 600vh;
    margin-top: -100vh;
    opacity: 0;

    .projects-wrap {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: clip;
        -webkit-mask-image: linear-gradient(180deg, transparent 5%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, transparent 95%);

        .projects-wrap-inner {
            position: absolute;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            perspective: 500px;
            display: grid;
            grid-column-gap: 8vw;
            grid-row-gap: 8vw;
            grid-template-rows: 100%;
            grid-template-columns: 1fr 1fr;
            grid-auto-columns: 1fr;
        }

        .projects-bg {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .project-box {
        font-family: 'Thunder', sans-serif;
        display: flex;
        align-items: center;

        a {
            display: flex;
            flex-direction: column;
            grid-gap: 1vw;
        }

        .project-box-image {
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-radius: 1rem;
            aspect-ratio: 4/3;
        }

        .project-box-name {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: calc(1rem + 2.15vw);
                line-height: calc(1rem + 2.5vw);
                font-weight: 500;
            }
        }

        .project-box-description {
            display: flex;
            align-items: center;
            color: $midgrey;
            font-size: calc(1rem + 0.8vw);
            line-height: calc(1rem + 1vw);
            font-weight: 300;

            .dot {
                background: $midgrey;
                width: .4vw;
                height: .4vw;
                border-radius: 99999px;
                margin-left: calc(0.5rem + .7vw);
            }

            .right {
                margin-left: calc(0.5rem + .7vw);
            }
        }
    }

    .project-box:nth-of-type(odd) {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: 1;
    }

    .project-box:nth-of-type(even) {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row: 1;
    }
}