.section {
    padding: 12vw var(--x-spacing);
    overflow: hidden;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.headline {
    margin-bottom: 3vw;

    h2 {
        font-size: calc(1rem + 5.15vw);
        line-height: calc(1rem + 5.5vw);
        font-weight: 500;
        text-transform: uppercase;
    }
}

.projects {
    position: relative;
    height: 300svh;

    .projects-wrap {
        position: sticky;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: clip;

        .projects-wrap-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            perspective: 750px;
        }
    }

    .project-box {
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        grid-gap: 1vw;

        a {
            display: flex !important;
            flex-direction: column;
            height: 100%;
        }

        .project-box-image {
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            width: 80rem;
            border-radius: 1rem;
            aspect-ratio: 4/3;
        }

        .project-box-name {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: calc(1rem + 2.15vw);
                line-height: calc(1rem + 2.5vw);
                font-weight: 500;
            }
        }

        .project-box-description {
            display: flex;
            align-items: center;
            color: $midgrey;
            font-size: calc(1rem + 0.8vw);
            line-height: calc(1rem + 1vw);
            font-weight: 300;

            .dot {
                background: $midgrey;
                width: .4vw;
                height: .4vw;
                border-radius: 99999px;
                margin-left: calc(0.5rem + .7vw);
            }

            .right {
                margin-left: calc(0.5rem + .7vw);
            }
        }
    }
}