.Experience_section {
    position: relative;

    .Item_item {
        font-family: 'Poppins', sans-serif;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid hsla(var(--color-white), .1);
        cursor: pointer;
        transition: all .2s;
        padding: 4rem 0;
        gap: 3rem;

        &:hover .Item_title>* {
            transform: translateY(-100%);
        }

        .Item_left {
            position: relative;
            flex-grow: 1;

            .Item_title {
                position: relative;
                overflow: hidden;

                &>* {
                    transition: all .5s cubic-bezier(.76, 0, .24, 1);
                    margin: 0;
                    font-size: 4.8rem;
                    font-weight: 300;
                    color: hsla(var(--color-white), .6);
                }

                &>:after {
                    content: attr(data-text);
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    color: hsla(var(--color-white), 1);
                }
            }
        }

        .Item_right {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }

        @media (min-width: 768px) {
            .Item_right {
                text-align: right;
            }
        }
    }
}

.Item_info {
    font-size: 1.6rem;
    font-weight: 400;
    color: hsla(var(--color-white), .4);
}