/* ------------------------- Custom Cursor -------------------------------------------------- */

.custom-cursor {
   width: 0em;
   position: fixed;
   z-index: 900;
   display: block;
   pointer-events: none;
   transform: translate(-48%, -75%) rotate(0.001deg);
   transition: width .3s cubic-bezier(0.7, 0, 0.3, 1), background-color .15s cubic-bezier(0.7, 0, 0.3, 1);
   will-change: transform, width;
   background-color: $color-stone;
   border-radius: 50%;
}

.custom-cursor::before {
   display: block;
   content: "";
   padding-top: 100%;
}

/* Hover Init */
.custom-cursor.cursor-init {
   width: 3rem;
   transition: width .3s cubic-bezier(0.7, 0, 0.3, 1), background-color .15s cubic-bezier(0.7, 0, 0.3, 1);
   mix-blend-mode: exclusion;
}

.custom-cursor.cursor-init.pressed {
   width: 1.2em;
}

.custom-cursor.cursor-hover.cursor-job.cursor-job-tiny span {
   transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
}

/* Hover Work Case */
.custom-cursor.cursor-work {
   background-color: $color-stone;
   width: 7vw;
   transform: translate(-48%, -75%) rotate(0.001deg);
   mix-blend-mode: normal;
   transition: width .4s cubic-bezier(0.7, 0, 0.3, 1), background-color .15s cubic-bezier(0.7, 0, 0.3, 1);
}

.custom-cursor.cursor-work.pressed {
   width: 9vw;
}

.custom-cursor .cursor-work-inner span {
   position: absolute;
   top: 50%;
   left: 50%;
   transition: transform .3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
   color: $color-black-light;
   text-transform: uppercase;
   line-height: 1;
   text-align: center;
   font-size: 2rem;
   transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
   font-family: Poppins, sans-serif;
   font-style: italic;
   font-weight: 400;
}

.theme-no-italic .custom-cursor .cursor-work-inner span {
   font-style: normal;
   font-weight: 400;
}

.custom-cursor.cursor-work .cursor-work-inner span {
   transition: transform .3s cubic-bezier(0.3, 1, 0.7, 1) .1s;
   transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
}

.custom-cursor .cursor-work-inner .rotate-cursor {
   display: flex;
   align-items: center;
}

.custom-cursor .cursor-work-inner .rotate-cursor svg {
   width: .8em;
   margin-left: .25em;
   transform: rotate(45deg);
}


/* Hover Tiles Home Header */
.custom-cursor.cursor-tiles {
   background-color: $color-stone;
   width: 7vw;
   transform: translate(-48%, -75%) rotate(0.001deg);
   mix-blend-mode: normal;
   transition: width .4s cubic-bezier(0.7, 0, 0.3, 1), background-color .15s cubic-bezier(0.7, 0, 0.3, 1);
}

.custom-cursor.cursor-tiles.pressed {
   width: 9vw;
}

.custom-cursor .cursor-tiles-inner span {
   position: absolute;
   top: 50%;
   left: 50%;
   transition: transform .3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
   color: $color-black-light;
   text-transform: uppercase;
   line-height: 1;
   text-align: center;
   font-size: 2rem;
   transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
   font-family: Poppins, sans-serif;
   font-style: italic;
   font-weight: 400;
}

.theme-no-italic .custom-cursor .cursor-tiles-inner span {
   font-style: normal;
   font-weight: 400;
}

.custom-cursor.cursor-tiles .cursor-tiles-inner span {
   transition: transform .3s cubic-bezier(0.3, 1, 0.7, 1) .1s;
   transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
}

.custom-cursor .cursor-tiles-inner .rotate-cursor {
   display: flex;
   align-items: center;
}

.custom-cursor .cursor-tiles-inner .rotate-cursor svg {
   width: .8em;
   margin-left: .25em;
   transform: rotate(180deg);
}

/* Cursor - Video */

.custom-cursor.cursor-video {
   background-color: $color-white;
   width: 6em;
   transform: translate(-48%, -75%) rotate(0.001deg);
   mix-blend-mode: normal;
   transition: width .4s cubic-bezier(0.7, 0, 0.3, 1), background-color .15s cubic-bezier(0.7, 0, 0.3, 1);
}

.custom-cursor.cursor-video.pressed {
   width: 8em;
}

.custom-cursor .custom-cursor-span-video .play,
.custom-cursor .custom-cursor-span-video .pause {
   width: 22.5%;
   height: 22.5%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform .3s cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity .3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}

.custom-cursor .custom-cursor-span-video div svg {
   width: 100%;
   position: relative;
}

.custom-cursor .custom-cursor-span-video .play svg {
   transform: translateX(15%);
}

.custom-cursor .custom-cursor-span-video .play svg path {
   fill: $color-black-light;
}

.custom-cursor .custom-cursor-span-video .pause svg rect {
   fill: $color-black-light;
}

.custom-cursor.custom-cursor-span-video .play {
   transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
}

.custom-cursor.cursor-video-play.cursor-video .custom-cursor-span-video .play {
   transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
   transition: transform .3s cubic-bezier(0.3, 1, 0.7, 1) .1s, opacity .3s cubic-bezier(0.3, 1, 0.7, 1) .1s;
}

.custom-cursor.cursor-video-pause svg path {
   fill: $color-black-light;
   transition: fill 0.15s ease-in-out;
}

.custom-cursor.cursor-video-pause.cursor-video .custom-cursor-span-video .pause {
   transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
}

.custom-cursor.cursor-video-pause .custom-cursor-span-video .pause {
   transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
   transition: transform .3s cubic-bezier(0.3, 1, 0.7, 1) .1s, opacity .3s cubic-bezier(0.3, 1, 0.7, 1) .1s;
}

@media screen and (max-width: 1024px) {

   .custom-cursor {
      opacity: 0;
      visibility: hidden;
   }

   .custom-cursor-fill,
   .custom-cursor-span {
      display: none !important;
   }
}