footer {
    background: #1f1f1f;
    padding-bottom: 3rem;

    .container {
        padding: 0 var(--x-spacing);
        display: flex;
        width: 100%;

        .wrapper_Col {
            width: 100%;
            display: flex;
        }

        .wrapper_Col:nth-child(1) {
            flex-direction: column;
        }
    }

    .links_col {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .bigHeading {
        margin-bottom: 10rem;
        font-size: 20.5vw;
        letter-spacing: -.8vw;
        line-height: 85%;
        color: #323232;
        text-transform: uppercase;
    }

    .txt_copyright {
        font-size: 3rem;
        line-height: 120%;
        letter-spacing: -.025em;
        // font-weight: 700;
    }
}
