footer {
    height: 100vh;

    .container {
        padding: 0 var(--x-spacing);
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .footer-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        align-items: flex-end;
        justify-content: center;
    }

    .copyright-wrapper {
        padding-bottom: 3rem;
    }

    .outer_circle-wrap {
        position: absolute;
        inset: auto 0% 0%;
        transform: translateY(53%);

        img {
            vertical-align: middle;
            max-width: 100%;
            display: inline-block;
            border: 0;
        }

        .outer_circle {
            width: 100%;
            max-width: none;
            animation: 220s linear infinite rotate360;
        }
    }

    .links_col {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .email {
        z-index: 3;
        pointer-events: none;
        cursor: pointer;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        inset: auto 0% 0%;
        transform: translateY(-10%);
    }

    .txt_copyright {
        font-size: 3rem;
        line-height: 120%;
        letter-spacing: -.025em;
        font-weight: 700;
    }

    .txt_email {
        width: 100%;
        height: auto;
    }

    .txt_email text {
        text-anchor: middle;
        fill: white;
        font-size: 10rem;
        offset: 50%;
        letter-spacing: .05em;
        text-transform: uppercase;
    }
}

@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}