footer {
    height: 100vh;

    .container {
        padding: 0 var(--x-spacing);
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .footer-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        align-items: flex-end;
        justify-content: center;
    }

    .outer_circle-wrap {
        position: absolute;
        inset: auto 0% 0%;
        transform: translateY(53%);

        img {
            vertical-align: middle;
            max-width: 100%;
            display: inline-block;
            border: 0;
        }

        .outer_circle {
            width: 100%;
            max-width: none;
            animation: 220s linear infinite rotate360;
        }
    }

    .inner_circle-wrap {
        width: 82%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        inset: auto 0% 0%;
        transform: translateY(53%);

        img {
            vertical-align: middle;
            max-width: 100%;
            display: inline-block;
            border: 0;
        }

        .inner_circle {
            width: 100%;
            max-width: none;
            animation: 220s linear infinite reverse rotate360;
        }
    }

    .link_circle-wrap {
        position: absolute;
        width: 80%;
        transform: translateY(53%);

        .link_circle {
            width: 100%;
            height: 100%;
        }
    }

    .social_link {
        width: 50%;
        aspect-ratio: 1 / 1;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: -43%;
        transform: rotate(-112deg);

        .social_link-plane {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }

    .social_link-item {
        font-size: 2rem;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform:
            translate(-50%, -50%)
            rotate(calc(45deg * var(--i)))
            translateY(calc(-25rem / sin(45deg)));
    }

    .email {
        z-index: 3;
        pointer-events: none;
        cursor: pointer;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        inset: auto 0% 0%;
        transform: translateY(-11%);
    }

    .txt_copyright {
        font-size: 2rem;
        line-height: 120%;
        letter-spacing: -.025em;
        font-weight: 700;
    }

    .copyright-wrapper {
        padding-bottom: 2rem;
    }

    .txt_email {
        width: 100%;
        height: auto;
    }

    .txt_email text {
        text-anchor: middle;
        fill: white;
        font-size: 7rem;
        offset: 50%;
        letter-spacing: .05em;
        text-transform: uppercase;
    }
}

@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}