* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --x-spacing: 10rem;
  --color-white: 0, 0%, 100%;
  --size: 1125;
}

@media (max-width: 767px) { 
  :root {
    --x-spacing: 5rem;
  }

}

@media(min-width: 650px) {
  :root {
    --size: 3840;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins.ttf') format('truetype');
}

@font-face {
  font-family: 'AvantGarde';
  src: url("/fonts/AvantGarde.otf") format("opentype");
}

html {
  background: $color-black-light;
  color: $color-stone;
  text-size-adjust: none;
  font-size: .88889vw;
  font-size: calc(1000vw/var(--size));
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'AvantGarde', sans-serif;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 1.9rem;
  line-height: 1.6;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

canvas {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 1s ease;
  width: 100%;

  .loaded & {
    opacity: 1
  }
}

a {
  color: $color-white;
  outline: none;
  text-decoration: none;
  font-size: inherit;

  &:hover,
  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

#app {
  border-bottom: 1px solid rgba($color: $color-stone, $alpha: 0.1);
}

.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99;

  &-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: calc(1rem + 2.15vw);
    line-height: calc(1rem + 2.5vw);
    color: $color-black-light;
  }

  &-overlay {
    width: 100%;
    height: 100%;
    display: flex;

    &-block {
      background-color: $color-stone;
      height: 100%;
      width: 5%;
      clip-path: polygon(101% 0, -1% 0, -1% 100%, 101% 100%);
    }
  }
}

