* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --x-spacing: 4rem;
  --color-white: 0, 0%, 100%;
}

@media (max-width: 767px) {
  :root {
    --x-spacing: 2rem;
  }

}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Variable.woff2') format('woff2'),
    url('../fonts/Rajdhani-Variable.woff') format('woff'),
    url('../fonts/Rajdhani-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

html {
  background: $color-black-light;
  color: $color-white;
  text-size-adjust: none;
  font-size: .5208333333vw !important;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  -ms-overflow-style: none;
  font-size: 1.9rem;
  line-height: 1.2;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

a {
  color: $color-white;
  outline: none;
  text-decoration: none;
  font-size: inherit;

  &:hover,
  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  z-index: 99;
  padding-left: var(--x-spacing);
  padding-right: var(--x-spacing);
  padding-bottom: 2rem;
  background-color: $color-black-light;

  .loading__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1rem;
    width: 100%;
    height: 100%;
  }

  .loading__numbers {
    width: 100%;
    height: 100%;
  }

  .loading__numbers-one {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .loading__numbers-two {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .preloader__numbers {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: flex-end;

    div {
      position: absolute;
      width: 100%;
      transform: translateX(-100%);

      svg {
        width: inherit;
        height: 100%;
        display: block;
      }
    }
  }
}