* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --x-spacing: 6rem;
  --color-white: 0, 0%, 100%;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins.ttf') format('truetype');
}

@font-face {
  font-family: 'AvantGarde';
  src: url("/fonts/AvantGarde.otf") format("opentype");
}

html {
  background: $color-black-light;
  color: $color-stone;
  user-select: none;
  overscroll-behavior: none;
  overflow-x: hidden;
  text-size-adjust: none;
  font-size: 62.5%;
}

body {
  font-family: 'AvantGarde', sans-serif;
  font-size: clamp(16px, 1.2vw, 19px);
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  line-height: 1.6;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  height:100%; 
  width:100%;
}

canvas {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 1s ease;
  width: 100%;

  .loaded & {
    opacity: 1
  }
}

a {
  color: $color-white;
  outline: none;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
